{% extends 'base.html' %}

{% block title_block %}
	Homepage
{% endblock title_block %}

{% block body_block %}

{% if user.is_authenticated %}
  Hi {{ user.username }}!


  <p style="color:green"> Search user with username to chat with.. </p>
  <form action="{% url 'user_app:search-user' %}" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="Search" name="username">
    <button type="submit">Submit</button>
  </form>

  {% if homepage_error %}
    {{ homepage_error }}
  {% endif %}

  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'user_app:register' %}">Sign Up</a>
{% endif %}

{% endblock body_block %}
