{% extends 'base.html' %}

{% block title_block %}
	User Registration
{% endblock title_block %}

{% block body_block %}
	<h1>Register Form</h1>

	<form action="{% url 'user_app:register' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="form-group">
			{% for field in form %}
		      <p>
		        {{ field.label_tag }}<br>
		        {{ field }}
		        {% if field.help_text %}
		          <small style="color: grey">{{ field.help_text }}</small>
		        {% endif %}
		        {% for error in field.errors %}
		          <p style="color: red">{{ error }}</p>
		        {% endfor %}
		      </p>
		    {% endfor %}
		    {% if error_msg %}
		    	<p style="color:red">{{ error_msg }}</p><br>
		    {% endif %}
		    <img src="{{ captcha }}">
		    <input type="img" value='{{ captcha }}' name="captcha_challenge" hidden>
		    <input type="text" name="captcha_result">
	        <!-- {{ form.as_p }} -->
		</fieldset>
	    <div class="form-group">
	        <button class="btn btn-outline-info" type="submit">Register</button>
	    </div>
	</form>
{% endblock body_block %}
